.last {
    margin-right: -10px;
    padding-left: 5px;
}

td-expansion-panel {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

.fillTop {
    margin-top: 24px;
}

mat-chip {
    display: inherit !important;
    height: 16px;

    mat-icon {
        font-size: medium !important;
    }
}

.mat-chip-list-wrapper .mat-chip:not(.mat-basic-chip) {
    margin: 3px !important;
}
