@import "./../../../../assets/style/colors";

.sidenav-icon {
  margin: 12px !important;
  float: right;
}

.sidenav-header {
  padding: 0 10px;
  width: 100%;
  border-radius: 0;
  font-size: 16px !important;
  text-align: left !important;
}

.sidenav-btn {
  width: 100%;
  border-radius: 0;
  font-size: 16px !important;
  text-align: left !important;
}
.sidenav-btn-active {
  background-color: $main;
}
