<div class="primary">
    <img class="logo-big" src="./assets/images/logo.png">
    <button mat-icon-button class="sidenav-icon" (click)="close.emit()">
        <mat-icon>chevron_left</mat-icon>
    </button>
</div>

<gen-sidenav *ngFor="let key of keys()" [entries]="entries[key]" [title]="key"></gen-sidenav>
