<mat-card style="height: 600px">
    <mat-toolbar color="primary" class="toolbar">statistics</mat-toolbar>
<!--    <ngx-charts-bar-vertical
            [view]="view"
            [scheme]="blueScheme"
            [xAxis]="true"
            [yAxis]="true"
            [results]="data">
    </ngx-charts-bar-vertical>-->
</mat-card>
